<!-- WRAPPER START -->
<div class="wrapper">
    <!-- Sidebar  START-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Taskable</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">link</a>
            </li>
            <li>
                <a href="#" class="article">Link2</a>
            </li>
        </ul>
    </nav>
    <!-- SIDEBAR END -->
    <!-- PAGE CONTENT START -->
    <div id="content">
        <!-- TOP NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-bars"></i>
                    <span>&nbsp; Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- TOP NAV BAR END -->


        <!-- DATA START -->
        <div class="row">
            <div class=" col-10 timer">
                <app-timer></app-timer>
            </div>
            <div class="timer-switch">
                <div class=" col-2 mx-auto custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                    <label class="custom-control-label" for="switch1"></label>
                </div>
            </div>
        </div>
        <app-show-task></app-show-task>

        <app-add-task></app-add-task>






        <!-- DATA START END-->

    </div>
    <!-- PAGE CONTENT END -->
</div>
<!-- WRAPPER END -->