<div class="alert alert-success" role="alert">
    <h4>Sheduled Tasks</h4>
</div>

<div class="container">
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-outline-danger">+ Add Task </button>
    </div>
</div>




<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-white bg-red mb-3  mx-auto shadow-lg rounded-lg " style="max-width: 18rem;">
            <div class="card-header">
                Task 1
                <i class="fa fa-trash float-right" aria-hidden="true"></i>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10 title">
                        <h5 class="card-title">Task Task</h5>
                    </div>
                    <div class=" col-2 custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck"></label>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-white bg-green mb-3 mx-auto shadow-lg" style="max-width: 18rem;">
            <div class="card-header">Task 2</div>
            <div class="card-body">
                <h5 class="card-title">Task title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-white bg-info mb-3 mx-auto shadow-lg" style="max-width: 18rem;">
            <div class="card-header">Task 3</div>
            <div class="card-body">
                <h5 class="card-title">Task Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</div>